@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html{
    width: 100%;
    height: 100%;
}

body{
    font-family: "Roboto";
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.header, .awesome, .random , .quote{
    padding: 30px 200px;
}

.header, .awesome, .footer {
    background-color: #1F2937;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.logo {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

.header ul {
    display: flex;
    gap: 18px;
    list-style-type: none;

}

a{
    text-decoration: none;
}

.awesome, .random, .quote, .blue{
    flex-grow: 2;
}

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-size: smaller;
}

img {
    width: 150px;
    height: 150px;
}

.awesome img {
    width: 450px;
    height: 250px;
}

.awesome .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.awesome .text, .header ul {
    font-size: 18px;
    color: #E5E7EB;
}

.awesome{
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
}

.leftside {
    width: 500px;
}

.leftside .text {
    margin-bottom: 20px;
}

.information{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding-bottom: 40px;
}

.signup , .blue {
    background-color: #3882F6;
    color: white;
}

.quote {
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.quote .two{
    font-size: 20px;
    color: black;
    text-align: end;
    font-weight: bold;
    width: 900px;
    flex: 0 0 auto;
    align-self: center;
}

.quote .one {
    flex: 0 0 auto;
    width: 900px;
    align-self: center;
    flex-wrap: wrap;
    
}


.photos {
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: space-around;
    flex: 1;
}

.dogs img , .awesome img{
    border-radius: 8px;

}

.blue {
    display: flex;
    padding: 30px 80px;
    margin: 100px 200px;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    align-self: center;
    gap: 50px;
    border-radius: 8px;
}


.blue .bold{
    font-weight: bold;
}

button.signup {
    cursor: pointer;
    padding: 8px 35px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    align-self: center;
    margin-top: 0px;
    font-weight: bold;
}

.random{
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgtext {
    width: 150px;
    
}