@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html{
    width: 100%;
    height: 100%;
}

body{
    font-family: "Roboto";
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/*body div{
    padding: 0 100px;
}*/

.header, .awesome, .footer {
    background-color: #1F2937;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

.header ul {
    display: flex;
    gap: 18px;
    list-style-type: none;

}

a{
    text-decoration: none;
}

.awesome, .random, .quote, .blue{
    flex-grow: 2;
}

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-size: smaller;
}

img {
    width: 150px;
    height: 150px;
}

.awesome img {
    width: 450px;
    height: 250px;
}

.awesome .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.awesome .text, .header ul {
    font-size: 18px;
    color: #E5E7EB;
}

.awesome{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.leftside {

}

.information{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.signup , .blue {
    background-color: #3882F6;
    color: white;
}

.quote {
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.quote .two{
    font-size: 20px;
    color: black;
    text-align: end;
    font-weight: bold;
}


.photos {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: space-around;
}

.blue {
    display: flex;
    justify-content: space-between;
}

.blue .bold{
    font-weight: bold;
}
